@tailwind base;
@tailwind components;
@tailwind utilities;


.portfolio-image-1 {
    background-image: url('../public/valorant.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.751);
}  

.portfolio-image-2 {
  background-image: url('../public/hungry-eyes.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.751);
}  

.portfolio-image-3 {
  background-image: url('../public/claimtrade.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.751);
}  

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}


  
  


  
  